body {
  background-color: #EFEFEF;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
hr{
  height: 0;
  border: none;
  border-top:1px solid #DEDEDE;
}

.topNavBar-inner {
  padding: 0px 16px 0px 16px;
}

.topNavBar {
  padding: 25px 0px 25px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topNavBar .logo {
  font-size: 24px;
  font-family: "Fredoka One", "Arial black";
  padding-top: 3px;
  padding-bottom: 4px;
}

.topNavBar .logo .rs {
  margin-right: 4px;
  color: #E8676B;
}

.topNavBar .logo .card {
  color: #9A9DA2;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.topNavBar a {
  float: left;
}

.topNavBar nav {
  float: right;
  padding-top: 4px;
  padding-bottom: 4px;
}

.topNavBar nav>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topNavBar nav>ul>li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}

.topNavBar nav>ul>li>a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  text-decoration: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.topNavBar nav>ul>li>a:hover {
  border-bottom: 3px solid #E8676B;
}

.banner {
  height: 516px;
  background-image: url(img/bg.jpg);
  background-position: center center;
  background-size: cover;
}

.banner .mask {
  height: 516px;
  /* 不要写宽度，宽度自适应 */
  background-color: rgba(0, 0, 0, 0.8);
}

.userCard {
  border: 2px solid transparent;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.userCard .textAndPicture {
  padding: 57px 51px;
}
.userCard .welcome {
  background-color: #E8676B;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  padding: 4px 16px;
  line-height: 21px;
  position: relative;
  margin-bottom: 6px;
}

.userCard .welcome .triangle {
  display: block;
  width: 0px;
  border: 10px solid transparent;
  border-left-color: #E8676B;
  border-top-width: 0px;
  position: absolute;
  left: 7px;
  top: 100%;
}

.userCard .picture {
  float: left;
}

.userCard .text {
  float: left;
  margin-left: 43px;
  width: 471px;
}
.userCard .text h1{
  margin-top: 15px;
  margin-bottom: 9px;
}

.userCard .text hr{
  margin: 26px 0px;
}

.userCard dl dt,
.userCard dl dd{
  float: left;
  margin-bottom: 18px;
}

.userCard dl dt{
  width: 30%;
  font-weight: bold;
}
.userCard dl dd{
  width: 70%;
  color: #9da0a7;
}

.userCard .media{
  background-color: #e8676b;
}